<ion-header>
  <ion-navbar>
    <ion-title>
      Login
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- if not logged in -->
  <section *ngIf="!auth.isLoggedIn">
    <button ion-button block (click)="loginWithFacebook()">
      Login with Facebook 
    </button>
  </section>

  <!-- when already logged in -->
  <ion-item *ngIf="auth.isLoggedIn">
    <h2 *ngIf="!auth.isAdmin">You arent an admin</h2>
    <h2 *ngIf="auth.isAdmin">You are an admin</h2>
    <h4>{{ auth.displayName }}</h4>
    <h4>{{ auth.email }}</h4>
    <button ion-button block color="danger" (click)="logout()">
      Logout
    </button>
  </ion-item>

</ion-content>