<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    
    <ion-title>The White Book</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="createCategory()" *ngIf="auth.isAdmin">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-searchbar 
    (ionInput)="search($event)" 
    [placeholder]="platform.lang() == 'en' ? 'Search' : 'ابحث'">
  </ion-searchbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-card class='categoryBlock' *ngFor="let category of categories | async" (click)="loadCategory(category)">
      <ion-card-title>{{ platform.lang() == "en" ? category.categoryTitleEn : category.categoryTitleAr }}</ion-card-title>
    </ion-card>

  </ion-list>
</ion-content>