<ion-menu id="menuLeft" side="left" type="overlay" [content]="contentArea">
  <ion-header>
    <ion-toolbar text-center style="height:auto;">
      <img class='logo' src="assets/icon.png" />
    </ion-toolbar>
  </ion-header>
  <ion-content>

    <ion-list>

      <button ion-item (click)="switchToArabic()">
        <ion-icon name="stats" item-left></ion-icon>
        Switch to Arabic
      </button>

      <button ion-item (click)="pushPage('contact')">
        <ion-icon name="stats" item-left></ion-icon>
        Contact
      </button>

    </ion-list>

  </ion-content>
  <ion-footer>
    <!-- When not logged in -->
    <button ion-item (click)="pushPage('login')" *ngIf="!auth.isLoggedIn">
      <ion-icon name="stats" item-left></ion-icon>
      Login
    </button>
    <!-- When Logged In -->
    <ion-item *ngIf="auth.isLoggedIn">
      {{ auth.displayName }}
    </ion-item>
    <button ion-item (click)="logout()" *ngIf="auth.isLoggedIn">
      <ion-icon name="ios-log-out" item-left></ion-icon>
      Logout
    </button>
  </ion-footer>
</ion-menu>

<ion-menu id="menuRight" side="right" type="overlay" [content]="contentArea">
  <ion-header>
    <ion-toolbar text-center style="height:auto;">
      <img class='logo' src="assets/icon.png" />
    </ion-toolbar>
  </ion-header>
  <ion-content>

    <ion-list>

      <button ion-item (click)="switchToEnglish()">
        <ion-icon name="stats" item-left></ion-icon>
        Switch to English
      </button>

      <button ion-item (click)="pushPage('contact')">
        <ion-icon name="stats" item-left></ion-icon>
        Contact
      </button>

    </ion-list>

  </ion-content>
  <ion-footer>
    <!-- When not logged in -->
    <button ion-item (click)="pushPage('login')" *ngIf="!auth.isLoggedIn">
      <ion-icon name="stats" item-left></ion-icon>
      Login
    </button>
    <!-- When Logged In -->
    <ion-item *ngIf="auth.isLoggedIn">
      {{ auth.displayName }}
    </ion-item>
    <button ion-item (click)="logout()" *ngIf="auth.isLoggedIn">
      <ion-icon name="ios-log-out" item-left></ion-icon>
      Logout
    </button>
  </ion-footer>
</ion-menu>

<!-- Nav -->
<ion-nav #contentArea swipeBackEnabled="true" [root]="rootPage"></ion-nav>

